a:hover {
  opacity: .5;
}

.add-bookmark {
  padding-top: 10px;
  padding-bottom: 5px;

  &.invalidBookmark {
    input {
      border-color: red;
    }
  }

  input {
    font-size: 18px;
  }

  .add-btn {
    background: grey;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 2px 20px;
    font-weight: 400;
    vertical-align: middle;
    line-height: 36px;
    cursor: pointer;
  }
}

.error {
  color: red;
  font-size: 10px;
}

.table {
  width: 100%;

  tr {
    width: 100%;
  }

  tr:nth-child(odd) {
      background-color: #eee;
  }

  tr > td {
    text-align: right !important;
    cursor: pointer;
    vertical-align: middle;
  }

  tr td:first-child {
    text-align: left !important;
    cursor: default;
  }
}
